html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  line-height: 1;
  font-family: "Rubik", sans-serif;
  color: #4f5665;
  font-weight: 400;
  background-color: white;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  font-family: "Rubik", sans-serif;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  display: inline-block;
  padding: 13px 45px;
  border-radius: 100rem;
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-size: 16px;
  cursor: pointer;
  border: none;
  outline: none;
  text-align: center;
  white-space: nowrap;
}

.button--primary {
  font-weight: 700;
  background-color: #f53838;
  color: white;
}

.button--outline {
  background-color: transparent;
  color: #f53838;
  font-weight: 600;
  border: 1px solid;
}

.button--rounded {
  border-radius: 10px;
  padding: 17px 65px;
}

.boxed {
  max-width: 555px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  width: 100%;
  line-height: 80px;
  background-color: #fff;
  z-index: 1000;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-auth {
  display: flex;
  align-items: center;
  gap: 0 30px;
  text-transform: capitalize;
}

.header-signin {
  font-weight: 600;
  color: #0b132a;
}

@media only screen and (max-width: 1023px) and (max-width: 1023px) {
  .header {
    padding: 25px 0 50px;
  }
  .header-auth {
    display: none;
  }
}

.menu {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0 40px;
}

.menu-link {
  color: inherit;
  display: inline-block;
}

.menu-toggle {
  display: none;
  width: 30px;
  height: 20px;
}

.menu-toggle span {
  pointer-events: none;
  width: 100%;
  height: 3px;
  background-color: #0b132a;
  display: block;
}

.hero {
  margin-top: 80px;
  padding-bottom: 100px;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 40px;
  position: relative;
}

.hero-content {
  width: 100%;
  max-width: 555px;
}

.hero-heading {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 20px;
  line-height: calc(70 / 50);
  color: #0b132a;
}

.hero-desc {
  margin-bottom: 50px;
}

@media screen and (min-width: 1280px) {
  .hero-image {
    position: absolute;
    top: 50%;
    transform: translate(40px, -50%);
    right: 0;
  }
}

@media screen and (max-width: 1023px) {
  .hero-heading {
    font-size: 35px;
  }
  .hero-desc {
    padding-bottom: 50px;
    padding: 30px 0;
  }
}

@media screen and (max-width: 767px) {
  .hero-container {
    flex-direction: column-reverse;
    gap: 50px 0;
  }
  .hero-desc {
    margin-bottom: 25px;
    padding: 30px 0;
  }
}

.intro {
  margin-bottom: 95px;
}

.intro-container {
  background: #ffffff;
  border-radius: 10px;
  padding: 37px 0;
  box-shadow: 0 42px 114px 0 rgba(13, 16, 37, 0.064);
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  min-height: 200px;
}

.intro-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 36.5px;
  font-size: 20px;
}

.intro-item:nth-child(2) {
  border-left: 2px solid #EEEFF2;
  border-right: 2px solid #EEEFF2;
}

.intro-title {
  font-size: 25px;
  margin-bottom: 5px;
  line-height: calc(30 / 25);
}

.intro-text {
  line-height: calc(30 / 20);
}

@media screen and (min-width: 768px) {
  .intro-item:nth-child(2) {
    border-left: 2px solid #eeeff2;
    border-right: 2px solid #eeeff2;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    margin-bottom: 50px;
  }
  .intro-container {
    grid-template-columns: 100%;
    padding: 30px;
    grid-gap: 50px 0;
  }
  .intro-item {
    flex-direction: column;
    gap: 20px 0;
    text-align: center;
  }
}

.feature-container {
  display: flex;
  align-items: center;
}

.feature-content {
  margin: 150px;
  display: flex;
  flex-direction: column;
}

.feature-menu {
  list-style: none;
}

.feature-menu-item {
  padding: 15px 0;
  display: flex;
  align-items: center;
}

.feature-menu-item img {
  margin-right: 10px;
}

.feature-heading {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-right: 100px;
  line-height: calc(50 / 35);
  text-transform: capitalize;
  color: #0b132a;
}

.feature-desc {
  line-height: calc(70 / 50);
  margin: 20px 0;
}

.feature-image {
  align-items: center;
  margin-right: 170px;
  margin-left: 84px;
}

@media screen and (max-width: 1023px) {
  .feature-container {
    gap: 0 30px;
    align-items: center;
  }
  .feature {
    padding-bottom: 95px;
  }
}

@media screen and (max-width: 767px) {
  .feature {
    padding-bottom: 50px;
  }
  .feature-container {
    flex-direction: column;
    gap: 50px 0;
  }
  .feature-image {
    width: 100%;
  }
}

.plan h2 {
  margin-bottom: 20px;
}

.plan-container {
  margin-top: 80px;
  justify-content: space-between;
}

.plan-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0 50px;
  margin-bottom: 176px;
  align-content: center;
}

.plan-heading {
  text-align: center;
  margin: 100px 42px;
}

.plan-desc {
  line-height: 30px;
  text-transform: capitalize;
  text-align: center;
  padding: 30px 280px;
}

.plan-item {
  border: 2px solid #DDDDDD;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 50px 50px;
}

.plan-price {
  margin-bottom: 30px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  margin-top: auto;
}

.plan-detail {
  margin-bottom: 50px;
}

.plan-info {
  display: flex;
  align-items: center;
  gap: 0 25px;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: calc(30/14);
}

.plan-img {
  display: block;
  max-width: 100%;
  margin-bottom: 30px;
}

.plan-title {
  font-weight: 500;
  font-size: 18px;
  line-height: calc(30 / 18);
  margin-bottom: 30px;
}

@media screen and (max-width: 1023px) {
  .heading {
    margin: 0 auto;
    text-align: center;
  }
  .content {
    grid-gap: 0 50px;
  }
  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 40px 60px;
  }
  .plan-desc {
    padding: 30px 20px;
  }
}

.network-container {
  margin-top: 150px;
  justify-content: space-between;
}

.network-heading {
  padding: 0 390px;
  font-size: 35px;
  line-height: 50px;
  font-weight: 500;
  margin: 20px 0;
  margin-bottom: 50px;
  text-align: center;
  text-transform: capitalize;
}

.network-desc {
  line-height: 30px;
  text-transform: capitalize;
  text-align: center;
  padding: 0 280px;
}

.network-img {
  margin: 0 auto;
}

.network-map {
  margin: 0 40px;
  margin-top: 155px;
}

@media screen and (max-width: 1200px) {
  .network-heading {
    padding: 0 20px;
  }
  .network-desc {
    padding: 0 15px;
  }
  .network-img {
    margin-bottom: 50px;
  }
}

.customer-container {
  box-sizing: border-box;
}

.customer-heading {
  margin: 10px 0;
  text-align: center;
}

.customer-heading h5 {
  margin-bottom: 2px;
}

.customer-desc {
  line-height: 30px;
  text-transform: capitalize;
  text-align: center;
  padding: 0 260px;
  margin-bottom: 30px;
}

.customer-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0 50px;
  margin-bottom: 60px;
}

.customer-item {
  padding: 30px;
  border-radius: 10px;
  border: 2px solid #dddddd;
  box-sizing: border-box;
}

.customer-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.customer-rating {
  display: flex;
  gap: 0 10px;
  align-items: center;
}

.customer-page {
  display: flex;
  justify-content: space-between;
  gap: 0 15px;
}

.customer-page button:first-child {
  position: relative;
  border: none;
  cursor: pointer;
  display: inline-block;
  border-radius: 100px;
  width: 45px;
  height: 15px;
  background-color: #f53838;
}

.customer-page button {
  position: relative;
  border: none;
  cursor: pointer;
  display: inline-block;
  border-radius: 100px;
  width: 45px;
  height: 15px;
  background-color: #DDE0E4;
}

.customer-1 {
  position: relative;
  border: 2px solid #f53838;
  background-color: transparent;
  width: 60px;
  height: 60px;
  border: 2px solid #f53838;
  cursor: pointer;
  display: inline-block;
  border-radius: 100px;
}

.customer-2 {
  position: relative;
  border: 2px solid #f53838;
  background-color: #f53838;
  width: 60px;
  height: 60px;
  border: 2px solid #f53838;
  cursor: pointer;
  display: inline-block;
  border-radius: 100px;
}

.customer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.customer-button {
  box-sizing: border-box;
  align-items: center;
}

@media screen and (max-width: 1023px) {
  .customer-desc {
    padding: 20px 10px;
  }
  .customer-item {
    display: flex;
    flex-direction: column;
    padding: 50px 20px 60px;
  }
  .customer-bottom {
    margin-bottom: 50px;
  }
}

.sub-container {
  background: #ffffff;
  border-radius: 10px;
  padding: 58px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 30px 114px 0 rgba(13, 16, 37, 0.6);
}

.sub-heading {
  font-size: 35px;
  font-weight: 500;
  line-height: calc(45 / 35);
  margin-bottom: 20px;
}

.footer {
  box-sizing: border-box;
  padding: 50px 0;
  margin-top: 50px;
}

.footer-container {
  display: flex;
  gap: 0 100px;
  align-items: flex-start;
}

.footer-tittle {
  font-weight: 500;
  line-height: calc(30 / 16);
  margin-bottom: 30px;
  max-width: 340px;
  padding: 20px auto;
  color: #4f5665;
}

.footer-contact {
  display: flex;
}

.footer-item {
  padding: 10px 0;
  gap: 0 20px;
}

.footer-logo {
  margin-bottom: 20px;
}

.footer-contact {
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer-copy {
  margin-top: 20px;
}

@media screen and (max-width: 1023px) {
  .footer-container {
    justify-content: space-between;
  }
  .footer {
    margin-top: 50px;
    gap: 20px 30px 20px 30px;
  }
  .footer-column {
    font-size: 25px;
    width: 100%;
    gap: 20px 30px 20px 30px;
    margin: 0 30px;
    padding: 0 20px;
  }
  .footer-title {
    gap: 20px 0;
    font-size: 14px;
  }
}
/*# sourceMappingURL=app.css.map */