.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  width: 100%;
  line-height: 80px;
  background-color: #fff;
  z-index: 1000;
  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-auth {
    display: flex;
    align-items: center;
    gap: 0 30px;
    text-transform: capitalize;
  }
  &-signin {
    font-weight: 600;
    color: $heading-color;
  }
}

@media only screen and (max-width: 1023px) {
  @media screen and (max-width: 1023px) {
    .header {
      padding: 25px 0 50px;
    }
    .header-auth {
      display: none;
    }
  }
}